<form #todoForm="ngForm" (ngSubmit)="onSubmit()" class=" col-md-8">

    <div class="form-group">
        <input type="number" class="form-control" placeholder="Id" [(ngModel)]="model.id" name="id" required/>
    </div>
    <div class="form-group">
        <input #todoAction="ngModel" type="text" required class="form-control" placeholder="Action" [(ngModel)]="model.action" name="action" />
    </div>
    <div class="form-group">
        <select name="place" class="form-control" [(ngModel)]="model.place" name="place">
          <option value="" *ngFor="let place of places" [value]="place">{{place}}</option>
        </select>
    </div>

    <button type="submit" [disabled]="!todoForm.form.valid" class="btn btn-primary btn-block">Envoyer</button>

</form>